@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League spartan',sans-serif;
}
h1{
    font-size:50px ;
    line-height: 64px;
    color: #222;
}
h2{
    font-size:46px;
    line-height: 54px;
    color: #222
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#header{
    position: sticky;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0,0,0.06);

}

#header div{
    display: flex;
    justify-items: center;
}   
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    padding: 0px 20px ;
    list-style: none;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transform:color 2s ease;

}
#navbar li a:hover,
#navbar li a.active{
    color: blue;

}
#navbar li a:hover::after,
#navbar li a.active::after
{
    content: "";
    width: 50%;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -4px;
    left: 21px;
}

.fa-shopping-bag:hover{
    text-decoration: none;
    color:black;
}

/*Banner section*/

#banner{
    background-image: url("./img/Banner.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position:  top 0px right 0;
    padding: 0 80px;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
#banner button{
    margin: 2px 5px;
    font-family: 'league spartan' sans-serif;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}   d

